In [ ]:
import pandas as pd # for the Data Analysis

In [ ]:
df = pd.read_csv(r"\Users\name_of_user\Downloads\Datasets for the Detection.csv") # Uploading The Datasets

In [ ]:
df.head(3)

  Label                                               News Unnamed: 2
0  Real  The Disappearing Middle: Electorate Way Less M...        NaN
1  Real  Radio host Sean Hannity said on his show Wedne...        NaN
2  Fake  Print version Font Size The hypersonic aircraf...        NaN

In [ ]:
new_col_names = {'ï»¿Label': 'Label'} # Change the Column Name

In [ ]:
df  = df.rename(columns=new_col_names)

In [ ]:
df.shape # Shape of Data Set

(57446, 3)

In [ ]:
df.drop(['Unnamed: 2'], axis=1, inplace=True) # Drop The Irrelevant Column

In [ ]:
df

      Label                                               News
0      Real  The Disappearing Middle: Electorate Way Less M...
1      Real  Radio host Sean Hannity said on his show Wedne...
2      Fake  Print version Font Size The hypersonic aircraf...
3      Fake  . The Hulk Actor Mark Ruffalo Has Joined Stand...
4      Real  Ben Carson pitched a tax plan with numbers tha...
...     ...                                                ...
57441  Real  'Fully committed' NATO backs new U.S. approach...
57442  Real  LexisNexis withdrew two products from Chinese ...
57443  Real  Minsk cultural hub becomes haven from authorities
57444  Real  Vatican upbeat on possibility of Pope Francis ...
57445  Real  Indonesia to buy $1.14 billion worth of Russia...

[57446 rows x 2 columns]

In [ ]:
df.shape

(57446, 2)

In [ ]:
df.tail()

      Label                                               News
57441  Real  'Fully committed' NATO backs new U.S. approach...
57442  Real  LexisNexis withdrew two products from Chinese ...
57443  Real  Minsk cultural hub becomes haven from authorities
57444  Real  Vatican upbeat on possibility of Pope Francis ...
57445  Real  Indonesia to buy $1.14 billion worth of Russia...

In [ ]:
X = df. drop('Label', axis=1)
y = df['Label']

In [ ]:
df = df.dropna()
df2 = df.copy()

In [ ]:
df2.head()

  Label                                               News
0  Real  The Disappearing Middle: Electorate Way Less M...
1  Real  Radio host Sean Hannity said on his show Wedne...
2  Fake  Print version Font Size The hypersonic aircraf...
3  Fake  . The Hulk Actor Mark Ruffalo Has Joined Stand...
4  Real  Ben Carson pitched a tax plan with numbers tha...

In [ ]:
df2.reset_index(inplace=True)
df2.head()

   index Label                                               News
0      0  Real  The Disappearing Middle: Electorate Way Less M...
1      1  Real  Radio host Sean Hannity said on his show Wedne...
2      2  Fake  Print version Font Size The hypersonic aircraf...
3      3  Fake  . The Hulk Actor Mark Ruffalo Has Joined Stand...
4      4  Real  Ben Carson pitched a tax plan with numbers tha...

In [ ]:
df2['News'][2]

'Print version Font Size The hypersonic aircraft , known as "article 4202" or "15U71" was successfully tested on October 25 for the first time. All avionics and electronic systems, as well as the control system of the vehicle are entirely of Russian production.The weapon is capable of speeding up to 15 Max, or 7 km/sec. The vehicle was designed to be installed at prospective intercontinental ballistic missiles, instead of conventional warheads. The "4202" vehicle starts working at an altitude of about 100 km and flies to the target at the speed of 5-7 km/s. Before entering dense layers of the atmosphere, directly above the target, the hypersonic aircraft performs a complex maneuver that makes it difficult to interception by missile defense systems of the enemy . Noteworthy, the project of hypersonic warheads called "Albatross" appeared in the USSR in the mid-1980s, as a response to USA\'s attempts to create a missile defense system within the concept of "star wars." However, due to the technical difficulties, the project was shut down. In the mid-1990s, the Scientific and Production Association (NPO) resumed the development of the new weapon under the number "4202."According to sources at Roscosmos state corporation, the successful tests of the new hypersonic aircraft were made possible with the help of the intensive import substitution program. For instance, Russian engineers had to get rid of the control system, previously manufactured by Ukrainian company Hartron. The successfully implemented program provided an opportunity to resume the tests. As a result, all the avionics and electronic systems, as well as the control system now completely consist of Russian components.The Russian Army is to receive new hypersonic weapons by 2020 . The development of high-speed anti-aircraft missiles has made it possible to intercept and destroy any modern aircraft or missile at any altitude. The way out is to create the aircraft capable of flying faster than interceptor missiles.For this particular reason, major powers of the world, such as the USA, Russia and China, rushed to develop hypersonic flight vehicles of different types and purposes. China, for example, tested the hypersonic WU-14 glider on 9 January 2015. The Chinese aircraft is launched into outer space with the help of an intercontinental ballistic missile. Then, the vehicle develops the speed of 10M, that is, more than 12,300 km/h, and dives onto the target. State-of-the-art air defense systems are unable to detect and intercept a target flying at this speed. China has thus become the third country in the world, after Russia and the United States, which has the technology of hypersonic vehicles for both nuclear and conventional weapons. In fact, the Chinese have created a warhead with control surfaces that can maneuver in flight thus becoming practically invulnerable. However, this vehicle does not have its own engine, so the Chinese creation has become another weapon for "the poorest." Russia currently works on different types of hypersonic scramjet missiles, which can be launched from land, ships or aircraft.Pravda.Ru requested an expert opinion from chief editor of "Arms Export" magazine, Andrey Frolov."How competitive is Russia in the development of hypersonic aircraft?" "Russia is at the forefront. This is not the first test, I think that in the near future these systems will be passed into service at the army. The Americans do not have such weapons yet, the Chinese are in the development process.""Are there any other details available?" "This is a secret subject. We know that such weapons have been created - and this is a lot to know already." Pravda.Ru Read article on the Russian version of Pravda.Ru Five types of Russian weapons which USA are afraid of'

**Data Preprocessing**

In [ ]:
from nltk.corpus import stopwords  # Import the Library for the Data Preprocessing of Textual Data
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
import re
import nltk
nltk.download('stopwords')

corpus = []
for i in range(0, len(df2)):
    review = re.sub('[^a-zA-Z]', ' ', df2['News'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

[nltk_data] Downloading package stopwords to C:\Users\Ammar
[nltk_data]     Murtaza\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [ ]:
# TFidf Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_v = TfidfVectorizer(max_features=5000, ngram_range=(1,3))

In [ ]:
X = tfidf_v.fit_transform(corpus).toarray()
y = df2['Label']

In [ ]:
# Divide the dataset into Train and Test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Model building**

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier
classifier = PassiveAggressiveClassifier(max_iter=1000)

In [ ]:
from sklearn import metrics
import numpy as np
import itertools

classifier.fit(X_train, y_train)

pred = classifier.predict(X_test)

score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)

accuracy:   0.847

In [ ]:
# Metrics
from sklearn.metrics import accuracy_score

# model
def compute_metrics(data, y_true, model_obj, model):

  # Make predictions
  y_pred = model_obj.predict(data)

  # Compute accuracy
  acc = accuracy_score(y_true = y_true, y_pred = y_pred)

  # Make DataFrame
  metrics = pd.DataFrame(data = np.array([acc]), index=[model], columns=['Accuracy Score'])
  return metrics

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
k=KNeighborsClassifier()
k.fit(X_train,y_train)
result=k.predict(X_test)
print(accuracy_score(y_test,result))

0.6327241079199304

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

print(accuracy_score(y_test,y_pred))

0.8746736292428199

In [ ]:
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()
d.fit(X_train,y_train)
y_pred=d.predict(X_test)

print(accuracy_score(y_test,y_pred))
# gives 0.9736842105263158

0.8322889469103568

In [ ]:
from sklearn.linear_model import Perceptron

In [ ]:

from sklearn.ensemble import GradientBoostingClassifier
gbc=GradientBoostingClassifier()
gbc.fit(X_train,y_train)
y_pred=gbc.predict(X_test)

print(accuracy_score(y_test,y_pred))
# gives 0.9736842105263158

0.788337684943429

In [ ]:
# Create a Modelfile with the Pickle

In [ ]:
import pickle

In [ ]:
pickle.dump(lr, open('model_dump.pkl', 'wb'))

 Create a Vectorizer File.

In [ ]:
pickle.dump(tfidf_v, open('tfidfvect2.pkl', 'wb'))